body{
    text-align: center;
    overflow: hidden;
    font-family: 'RussianRoulette';
    background-image: url('imgs/blood.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 5000px;
    transition: background-position-x 1s ease-in;
}

@font-face {
    font-family: RussianRoulette;
    src: url('fonts/KrinkesDecorPERSONAL.ttf');
}
@font-face {
    font-family: Number;
    src: url('fonts/HelloValentina.ttf');
}

h1{
    font-size: 80pt;
    margin: 0;
    font-weight: normal;
    transition: opacity 0.6s ease-in;
}

#top{
    position: relative;
    top: 0%;
}
#number-of-bullets{
    margin-top: 30px;
}

#drum{
    width: 250px;
    margin-top: 200px;
    transition: opacity 0.6s ease-in;
}

#loading{
    width: 40%;
    transition: transform 0.7s ease-in, opacity 0.2s ease-in;
}

#container1, #container2{
    transition: opacity 1s ease-in;
}

.went-up{
    position: relative;
    top: -500px;
}
.spin{
    transform: rotate(-360deg);
}
.fade-out{
    opacity: 0;
}

.blood-splash{
    background-position-x: 400px;
}

#number, #butt{
    text-align: center;    
}

#number{
    font-family: "Number";
    border: 3px solid black;
    width: 30%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 20pt;
}

#butt{
    margin-top: 20px;
    border: 0px; 
    background-color: white;
    font-family: "RussianRoulette";
    font-size: 40pt;
}

#gun, #timer{
    position: relative;
}

#gun{
    width: 300px;
    transition: top 0.5s ease-in-out; 
}
.gun-down{
    top: 5000px;
}
.extract-gun{
    top: -700px;
}

#timer{
    font-family: "Number";
    font-size: 30pt;
    width: 30pt;
    margin: auto;
    border: 3px solid black;
    border-radius: 30px;
    transition: bottom 0.9s ease-in-out, width 0.3s ease-in, height 0.3s ease-in, opacity 0.4s ease-in;
}
.timer-out{
    bottom: 5000px;
}
.timer-in{
    bottom: 650px;
}

#reset, #close{
    
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: 0 auto;
    width: 110px;
    height: 60px;
    bottom: 0;
    object-fit: contain;
    font-size: 30pt;
    transition: opacity 1s ease-in-out;
    
}

/* non funziona il jQuery che ne farebbe uso */

#reset{
    /* transition: left 1s ease-in; */
    left: 600px;
}
#close{
    /* transition: right 1s ease-in;  */
    right: 600px;
}

/* .reset-is-center{
    left: 50%;
}
.close-is-center{
    right: 50%;
}

.move-left{
    left: 700px;
}
.move-right{
    right: 700px;
} */