body {
    margin: 0px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    /* impedisce ai div di andare a capo, in modo da eliminare lo spazio tra di essi */
  }

  img {

    transition: opacity 0.5s ease-in-out;
  }

  /* classe per immagini appena create per renderle nascoste */
  img.fade-out {
    opacity: 0;
  }

  /* classe per contrassegnare l'opacità da raggiungere alla fine dell'azione "fade-in" */
  img.fade-in {
    opacity: 1;
  }

  #start-img {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    cursor: pointer;
    animation: pulse 2s infinite;
    object-fit: contain;
  }

  #start-img:hover {
    cursor: pointer;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }